 label
 {
    color: rgb(14, 14, 14);
 }
input
{
    background-color: aliceblue;
    border-radius: 2px;
    border-color: black;
    align-items: center;
    margin: 8px;
}
h3
{
    color: rgb(255, 255, 255);
    text-align: center;
}
h1
{
    text-align: center;
}
h2
{
    text-align: center;
}
h4
{
    text-align: center;
}
table
{
    margin:0 auto;
    /* margin : top right bottom left */
    /* margin :  */
}